<!--
File: templates/miniinsta/create_post_form.html 
Author: Arhan Sheth, 2/20/2026
Email: aksheth@bu.edu
Description: Create Post Form page for Mini Insta -->


{% extends 'miniinsta/base.html' %}
{% block content %}
<div id="create-post-form">
    <h1>Create a new Post</h1>
    <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        Upload Photos: <input type="file" name="files" multiple>
        {% comment %} Image URL: <input type="text" name="image_url" value=""> {% endcomment %}
        <br><br>
        <input type="submit" name="submit" value="Submit">
        <a href="{% url 'show_profile' profile.pk %}"><button type="button">Cancel</button></a>
    </form>
</div>
{% endblock %}