<!--
File: templates/quotes/about.html 
Author: Arhan Sheth, 1/29/2026
Email: aksheth@bu.edu
Description: About page for Quotes Application -->

{% extends 'quotes/base.html' %}
    {% block content %}
<h2>Welcome!!</h2>
<p>This application displays quotes and images of
   <a href="https://gameofthrones.fandom.com/wiki/Tyrion_Lannister" target="_blank">Tyrion Lannister</a>.</p>
<p>Lord Tyrion Lannister is the youngest child of Lord Tywin Lannister and younger brother of Cersei and Jaime Lannister. 
    A dwarf, he uses his wit and intellect to overcome the prejudice he faces. 
    He is the current Lord of Casterly Rock and Hand of the King to Brandon Stark.</p>

<h2>About The Developer</h2>
<p>Created by <strong>Arhan Sheth</strong>, 
  a senior at Boston University pursuing a dual degree in Computer Science and Finance. 
  I am passionate about full stack web development and AI/ML, I have built this Django application 
  to bring to you the quotes and images from one of television's most iconic characters.</p>
{% endblock %}